@import '/public/ant-theme-vars.module.scss';

$ee-header-color: #191c23;
$ee-white: white;
$ee-black: #010b22;

$card-color: #696969;
$text-color: #808080;

$input-border-color: #d3d3d3;
$card-background-color: #ffffff;

$shadow-color: rgba(117, 117, 117, 0.2);
$shadow-price-details-color: rgba(196, 196, 196, 0.5);
$shadow-confirmation-modal-color: rgba(0, 0, 0, 0.2);
$shadow-custom-sides-color: #00000029;

$ee-menu-background: #f3f3f3;
$ee-scrollbar-color: #e6eaf3;

$hyperlink-color: #008cdb;
$title-material-selected: #002169;

$ee-error-color: #df0423;
$ee-warning-color: #ffae00;
$ee-success-color: #10a028;

$ee-description-color: #7c7a7a;
$ee-border-color: #d9d9d9;

$ee-divider-color: #d9d9d9;
