@import './src/theme/ee-colors.scss';

$card-width: 250px;

.custom-side-card-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    flex-wrap: wrap;
    gap: 63px;

    .image-container {
        width: $card-width;
        min-width: $card-width;
        height: 210px;
        background: $card-background-color 0 0 no-repeat padding-box;
        box-shadow: 0 3px 6px $shadow-custom-sides-color;
        border-radius: 8px;
        opacity: 1;
        border: 4px solid $card-background-color;

        &.disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

        &.selected {
            padding: 0;
            border-color: $secondary-color;
        }

        .image-card {
            border-radius: 10px;
            text-align: center;
            padding: 0;

            img {
                height: 170px;
            }

            .card-name {
                margin: -10px 0 0 10px;
                display: block;

                .custom-side-name {
                    font-size: 16px;
                    text-align: left;
                    letter-spacing: 0;
                    color: $ee-header-color;
                    text-transform: uppercase;
                    opacity: 1;
                }
            }
        }
    }
}
