@import './src/theme/ee-colors.scss';

$card-width: 300px;

#color {
    .ant-collapse-extra {
        font-size: 20px;
        letter-spacing: 0.11px;
        line-height: 24px;
        text-align: right;
        padding-top: 3px;
        a.ant-dropdown-trigger {
            margin-left: 15px;
            color: $ee-header-color;
        }
    }
}

.color-card-wrapper {
    display: flex;
    flex-direction: column;
}

.row-direction {
    flex-direction: row;
}

.color-card-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, $card-width);
    justify-content: space-between;
    grid-gap: 20px;
    width: 100%;

    .image-container {
        width: 25%;
        min-width: $card-width;
        max-width: 400px;
        padding-bottom: 30px;

        .image-card {
            padding: 2px;
            border-radius: 10px;
            img {
                width: 100%;
                height: 200px;
                border-radius: 5px;
            }
            .card-name {
                margin: 10px;
                display: block;
                .color-name {
                    font-size: 16px;
                    font-weight: bold;
                    background-color: white;
                }
                .color-price {
                    font-size: 14px;
                }
            }
            &.selected {
                padding: 0px;
                border: 4px solid $secondary-color;
                margin: -4px;
            }
        }
    }
}

.ant-dropdown-menu-item.selected {
    background-color: rgba($primary-color, 0.15);
}
